---
layout: story
index: true
---
<header>
  <nav>
    <ul>
      <li><a class="active" href="{{site.baseurl}}/">Home</a></li>
      <li><a href="{{site.baseurl}}/#footer">About us</a></li>
      <li><a href="{{site.baseurl}}/tools">Tools</a></li>
      <li><a href="http://vocab.datex.org/terms#">Vocabulary</a></li>
      <li><a href="{{site.baseurl}}/#section6">For developers</a></li>
    </ul>
  </nav>
</header>
{% include section1.html %}
{% include section2.html %}
{% include section3.html %}
{% include section4.html %}
{% include section5.html %}
{% include section7.html %}
{% include section6.html %}
{% include section8.html %}
{% include section9.html %}
{% include footer.html %}
