<header>
  <nav>
    <ul>
      <li><a {% if page.index %}class="active"{% endif %} href="{{site.baseurl}}">Home</a></li>
      <li><a href="{{site.baseurl}}#footer">About us</a></li>
      <li><a {% if page.url contains 'tools' %}class="active"{% endif %}href="{{site.baseurl}}tools">Tools</a></li>
      <li><a href="http://vocab.datex.org/terms#">Vocabulary</a></li>
      <li><a {% if page.layout == 'type' %}class="active"{% endif %} href="{{site.baseurl}}type">For developers</a></li>
    </ul>
  </nav>
</header>
