<header>
  <nav>
    <ul>
      <li><a {% if page.index %}class="active"{% endif %} href="/">Home</a></li>
      <li><a href="/#footer">About us</a></li>
      <li><a {% if page.url contains 'tools' %} class="active" {% endif %} href="/tools">Tools</a></li>
      <li><a {% if page.url contains 'terms' %} class="active" {% endif %} href="/terms#">Vocabulary</a></li>
      <li><a {% if page.url contains 'example' %} class="active" {% endif %} href="/examples">For developers</a></li>
    </ul>
  </nav>
</header>
