<section id="section8" class="section-margin-bottom">
    <div class="box box-margin-top">
        <iframe id="parkingFrame" src="//95.85.15.16/parking/" class="box-content"></iframe>
        <div class="box box-column box-shrink box-content box-margin-top box-background-annajohn">
            <div class="half-size big-text">
                <p>This will result in <strong>apps</strong> for each device that can give <strong>a complete overview</strong> of the parkings <strong>in different cities</strong> !</p>
                <p class="paragraph-padding-top">Now John and I can find the parking spot way quicker and enjoy Ghent longer!</p>
            </div>
        </div>
</section>
