<section id="section3" class="flex-it">
  <div class="section3-image">
    <img src="{{site.baseurl}}/src/img/shop.svg" alt="" id="iconShop">
    <img src="{{site.baseurl}}/src/img/parkingBrussels.svg" alt="" id="iconBrussels">
    <img src="{{site.baseurl}}/src/img/parkingGhent.svg" alt="" id="iconGhent">
  </div>
  <div class="text">
    <p>On my phone I have an app that shows me the parkings in Brussels</p>
    <p id="textGhent">But the parking app for Ghent doesn’t work in my phone</p>
  </div>

</section>
