<section id="section9">
  <div class="box box-column box-medium box-cetered">
    <h2 class="text-margin-bottom">JSON to JSON-LD</h2>
    <div class="paragraphs">
      <p>Changing JSON into JSON-LD is very easy! All that needs to be done is implementing the URIs which make the data linked!</p>
      <p>You need an @context tag which refers to the datex vocabulary (e.g. <a href="http://vocab.datex.org/terms#" title="Vocab")>vocab.datex.org/terms#</a>). On vocab.datex.org you can find all the terms that are defined in Datex II. Once that's done you need an @type tag to indicate what kind of content you're defining. For the parking context it is: "parkingSite".</p>
      <p>All that rests is to use the existing URIs from the Datex II vocab website to define the properties of your parking (e.g. parkingName)</p>
      <p>Underneath there is a neat drag and drop tutorial to help you get started!</p>
    </div>
  </div>


  <div class="flex flex-row">
    <div class="flex-30e">
  <pre id="json-source">  {
    <span class="empty replace"></span>
    <span class="empty replace"></span>
    "<span class="tag replace">name</span>": "Parking Schoondracht",
    "<span class="tag replace">addresss</span>": "Maria-Hendrikaplein 1",
    "<span class="tag replace">city</span>": "9000 Ghent",
    "<span class="tag replace">latitude</span>": "51.037051",
    "<span class="tag replace">longitude</span>": "3.709925",
    "<span class="tag replace">tel</span>": "0032497466234",
    "<span class="tag replace">descr</span>": "P16: Schoondracht",
    "<span class="tag replace">occupied</span>": 150,
    "<span class="tag replace">capacity</span>": 450
  }</pre>
      <div id="drag">
        <span class="tag full"><pre style="font: inherit;color:inherit;">"@context": {
  "dtx": "https://vocab.datex.org/terms#"
},</pre></span>
<!-- todo: stop creating enters on full tag -->
        <span class="tag full">"@type": "dtx:parkingSite",</span>
        <span class="tag">dtx:parkingName</span>
        <span class="tag">dtx:parkingSiteAddress</span>
        <span class="tag">dtx:parkingLocation</span>
        <span class="tag">dtx:latitude</span>
        <span class="tag">dtx:longitude</span>
        <span class="tag">dtx:contactDetailsTelephoneNumber</span>
        <span class="tag">dtx:parkingDescription</span>
        <span class="tag">dtx:parkingSpaceOccupied</span>
        <span class="tag">dtx:totalCapacity</span>
      </div>
      <button id="json-submit">Validate</button>
    </div>
    <iframe src="http://95.85.15.16/parking/" name="json-iframe" id="json-iframe" frameborder="0" class="flex-grow"></iframe>
  </div>

<!-- Insert into Section10 from here -->
  <div class="box box-column box-medium box-cetered box-margin-top">
    <h2 class="text-margin-bottom">Implementing RDFa into HTML</h2>
    <div class="paragraphs">
      <p>Converting HTML to RDFa doesn't take much effort. All that has to be done is implementing the right URIs</p>
      <p>Start by creating a prefix "dtx" to link to the Datex II vocabulary. The vocabulary can be found at <a href="//vocab.datex.org/terms#">vocab.datex.org</a></p>
      <p>All that has to be done now is defining the type of your information (e.g. a parkingsite) with an existing URI on the vocab.datex.org in the typeOf tag. Also give it its own URI linking to the content on your page by using a resource tag on the container where your other data will be in.</p>
      <p>Once we've defined the type of information we can give all our other information that defines our parkingsite properties like the name of our parking. You can find all the available properties on <a href="//vocab.datex.org">vocab.datex.org</a></p>
      <p>Underneath this you'll find our super handy RDFa tutorial. If you do it correctly it will show you a visualization of the dataset!</p>
    </div>
  </div>
  <!-- End of section10 -->
</section>
