<section id="section7">
    <p class="text-centered-section7">There's an <strong>easy solution</strong>! </p>
    <div class="flex-it">
        <div class="section7-image"></div>
        <div class="secion7-flex-p">
            <p class="text"><strong>Linked data</strong> is a way to <strong>easily structure all the data</strong>
                that’s being
                published.
            </p>
            <p class="text text-padding-top">When all the data is published in the linked data format a developer can
                <strong>easily gather and combine
                    it!</strong>
            </p>
        </div>
    </div>

</section>
