<section id="section7" class="flex-it">
  <p class="text-centered-section7">There's an <strong>easy solution</strong>! </p>
  <div class="flex-it">
    <div class="section7-image"></div>
    <div class="text text-flex-basis-60 full-basis-text">
      <p><strong>Linked data</strong> is a way to <strong>easily structure all the data</strong> that’s being published.</p>
      <p>When all the data is published as linked data, a developer can <strong>easily gather and combine it!</strong></p>
    </div>
  </div>
  <a href="#section8" class="internal-link internal-arrow">next</a>
</section>
