<section id="section10" class="section-margin-bottom">
  <div class="box box-column box-cetered box-margin-top">
    <h2 class="text-margin-bottom">Implementing RDFa into HTML</h2>
    <div class="paragraphs">
      <p>The first step in adding rdfa to your existing html page is by <strong>defining the correct prefix(es)</strong>.</p>
      <p>In our case we are adding one prefix for datexII, you do this by inserting a prefix attribute into the html tag. <code>&lt;html prefix="dtx:vocab.datex.org/terms#"&gt;</code></p>
      <p>The next step is <strong>defining a resource </strong>(a URI which contains the relevant data that specifies the parking site). Our data is contained on the same page and thus we will use a relative link. <code>&lt;article resource="#parking"&gt;</code></p>
      <p>Our data is a parking site, in datex this is called a <code>ParkingSite</code>. To signify this we will add <code>&lt;article resource="#parking" typeof="dtx:ParkingSite"&gt;</code>.</p>
      <p>Data is more then a resource alone, it contains several properties. These specify the exact data that <code>#parking</code> has.</p>
      <p>To find what properties are possible we will look at our <a href="//vocab.datex.org/terms#" title="vocab">vocabulary</a> and add the properties like this for example <code>&lt;p property="dtx:parkingName"&gt;Pj's awesome parking!&lt;/p&gt;</code></p>
      <p>To make things easier for you we have searched for the correct properties in this case</p>
      <ul class="list">
        <li>dtx:parkingName</li>
        <li>dtx:parkingSiteAddress</li>
        <li>dtx:parkingLocation</li>
        <li>dtx:contactDetailsTelephoneNumber</li>
        <li>dtx:parkingDescription</li>
        <li>dtx:parkingSpaceOccupied</li>
        <li>dtx:totalCapacity</li>
      </ul>
      <p>You can try this out here: </p>
    </div>
  </div>
  <div id="rdfa-playground">
  <a href="http://rdfa.info/play" class="badge badge-rdfa">RDFa play</a>
  <button id="rdfa-cheat-button" class="button">cheat</button>
<script>
document.getElementById('rdfa-cheat-button').addEventListener('click',function(){
  play.editor.setValue('<!DOCTYPE html>\n<html lang="en" prefix="dtx: http://vocab.datex.org/terms#">\n<body>\n  <article resource="#parking" typeof="dtx:ParkingSite" id="parking">\n    <h2 property="dtx:parkingName">Pj\'s awesome parking!</h2>\n    <p property="dtx:parkingSiteAddress">Maria-Hendrikaplein 1</p>\n    <p property="dtx:parkingLocation">9000 Gent</p>\n    <p property="dtx:contactDetailsTelephoneNumber">0498/ 76 43 21</p>\n    <p property="dtx:parkingDescription">This is Pj’s awesome parking space!</p>\n    <p>spaces: <span property="dtx:parkingSpaceOccupied">2</span>/<span property="dtx:totalCapacity">3</span></p>\n  </article>\n</body>\n</html>');
});
</script>
<textarea id="editor">
<!DOCTYPE html>
<html lang="en">
<body>
  <article id="parking">
    <h2>Pj's awesome parking!</h2>
    <p>Maria-Hendrikaplein 1</p>
    <p>9000 Gent</p>
    <p>0498/ 76 43 21</p>
    <p>This is Pj’s awesome parking space!</p>
    <p>spaces: <span>2</span>/<span>3</span></p>
  </article>
</body>
</html>
</textarea>
    <iframe id="preview" hidden></iframe>
    <div id="graph" style="overflow: auto;"></div>
  </div>
</section>
