<section id="section4" class="flex-it no-center">
  <div class="flex-it centered vertical-center basis-40 full-basis-image">
    <!-- Flex it and center it yo! -->
    <div class="section4-image">
      <!-- Here i shall plant my ipad! -->
      <div>
        <img src="{{site.baseurl}}/src/img/parkingghent.svg" alt="" class="icon">
        <img src="{{site.baseurl}}/src/img/parkingghent.svg" alt="" class="icon">
        <img src="{{site.baseurl}}/src/img/parkingghent.svg" alt="" class="icon">
        <img src="{{site.baseurl}}/src/img/parkingghent.svg" alt="" class="icon">
        <img src="{{site.baseurl}}/src/img/parkingghent.svg" alt="" class="icon">
        <img src="{{site.baseurl}}/src/img/parkingghent.svg" alt="" class="icon">
        <img src="{{site.baseurl}}/src/img/parkingghent.svg" alt="" class="icon">
        <img src="{{site.baseurl}}/src/img/parkingghent.svg" alt="" class="icon">
        <img src="{{site.baseurl}}/src/img/parkingghent.svg" alt="" class="icon">
        <img src="{{site.baseurl}}/src/img/shopipad.svg" alt="" class="icon">
        <img src="{{site.baseurl}}/src/img/freespace.svg" alt="" class="freespace">
        <!-- here i'll flex my icons yo! -->
        <!-- oh and i'll place john absolute -->
      </div>
    </div>
    <img class="john" src="{{site.baseurl}}/src/img/bruce_annoyed.svg" alt="john" />
  </div>
  <div class="text text-flex-basis-60 full-basis-text">
    <p>John has apps for all the cities he frequently visits but they clutter his phone</p>
  </div>

</section>
