<section id="who">
  <h2>everybody wins!</h2>
  <div class="container">
    <div class="content">end user: Anna & Bruce Have all the data in one place and can find their parkingspot without having to waste time and money on driving around.</div>
    <div class="content">
      <p>data consumers start ups Start ups can integrate the data in their own platform.</p>
      <p>Think about e.g. AB in Brussels that can inform their public about parking spots.</p>
      <p>Search engines can integrate it in their search results</p>
    </div>
    <div class="content">data publisher: The parking owner His parking data gets more views, he can offer a better customer service which ofcourse all leads to more customers</div>
  </div>
</section>
