<section id="section9">
  <div>
    <h2>JSON to JSON-LD</h2>
    <div>
      <p>Changing JSON into JSON-LD is very easy! All that needs to be done is implementing the URIs which make the data linked!</p>
      <p>You need an @context tag which refers to the datex vocabulary (e.g. <a href="http://vocab.datex.org/terms#" title="Vocab")>vocab.datex.org/terms#</a>). On vocab.datex.org you can find all the terms that are defined in Datex II. Once that's done you need an @type tag to indicate what kind of content you're defining. For the parking context it is: "parkingSite".</p>
      <p>All that rests is to use the existing URIs from the Datex II vocab website to define the properties of your parking (e.g. parkingName)</p>
      <p>Underneath there is a neat drag&drop tutorial to help you get started!</p>
    </div>
  </div>
</section>
