<div id="progressBar"></div>
<section id="intro" class="gradient">
  <section class="over-background">
    <p class="text-centered text-vertical-centered">Let us make <strong>data management</strong> easier with the help of <strong>linked data</strong> and the <strong>Datex II</strong> format. </p>
    <p class="text-centered sub" ><br>Do you not know what this means?</p>
    <p class="text-centered sub" >Do not worry, we will explain this to you by giving an example!</p>
    <a class="button button-md internal-link" href="#section2">Read more</a>
  </section>
</section>
<noscript><img src="{{site.baseurl}}src/img/linkeddata.svg" style="position: absolute; left: 0; top: 0; max-width: 40em;"></noscript>
