<section id="section8" class="section-margin-bottom">
  <div class="box box-margin-top">
    <iframe id="parkingFrame" src="//95.85.15.16/parking/?json=%7B%22%40context%22%3A%7B%22dtx%22%3A%22https%3A%2F%2Fvocab.datex.org%2Fterms%23%22%7D%2C%22%40type%22%3A%22dtx%3AparkingSite%22%2C%22dtx%3AparkingName%22%3A%22Parking%20Schoondracht%22%2C%22dtx%3AparkingSiteAddress%22%3A%22Maria-Hendrikaplein%201%22%2C%22dtx%3AparkingLocation%22%3A%229000%20Ghent%22%2C%22dtx%3Alatitude%22%3A%2251.037051%22%2C%22dtx%3Alongitude%22%3A%223.709925%22%2C%22dtx%3AcontactDetailsTelephoneNumber%22%3A%220032497466234%22%2C%22dtx%3AparkingDescription%22%3A%22P16%3A%20Schoondracht%22%2C%22dtx%3AparkingSpaceOccupied%22%3A150%2C%22dtx%3AtotalCapacity%22%3A450%7D" class="box-content"></iframe>
    <div class="box box-column box-shrink box-content box-margin-top box-background-annajohn">
      <div class="half-size big-text">
        <p><strong>One app</strong> for each device that <strong>combines all the information</strong> about parkings <strong>all over the world</strong></p>
        <p class="paragraph-padding-top">Everybody chooses their own experience</p>
      </div>
  </div>
</section>
