<section id="section3" class="flex-it">
  <div class="section3-image">
    <img src="/src/img/anna_reg.svg" alt="" id="anna">
    <img src="/src/img/shop.svg" alt="" id="iconShop">
    <img src="/src/img/parkingbrussels.svg" alt="" id="iconBrussels">
    <img src="/src/img/parkingghent.svg" alt="" id="iconGhent">
    <img src="/src/img/cross.svg" alt="" id="iconCross">
  </div>
  <div class="text">
    <p>On my phone, I can install apps which show me information about parking sites in for instance Brussels and Ghent</p>
    <p id="textGhent">But the parking app for Ghent does not work on my phone</p>
  </div>
  <a href="#section4" class="internal-link internal-arrow">next</a>
</section>
