header
  padding: 0 5%
  height: 5vh
  clear: both
  nav
    width: 100%
    ul
      width: 100%
      clear: both
      li
        float: left
        margin: 0 3%
        &:first-of-type
          margin-left: 0
        a
          text-decoration: none
          line-height: 5vh
          color: $black
