#intro
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: center
  background-image: url("../img/linkeddata.svg")
  background-attachment: fixed
  background-repeat: no-repeat
  background-position: 0 -125px
  background-size: contain


  .button
    display: inline
    text-align: center
    font-size: 1.8rem
    padding: 8px 10px
    margin: 4vh auto
    border-radius: 2px
    text-decoration: none
    color: $white
    font-family: "Oswald Regular", sans-serif
    background-color: $button
    text-transform: uppercase

  .button-lg
    width: 300px

  .button-md
    width: 200px

  .button-sl
    width: 100px
