.section3-image
  background-image: url("https://osoc16.github.io/mobylink/src/img/anna.svg"), url("http://imgh.us/phone_6.svg")
  background-size: 30%, 90%
  background-repeat: no-repeat
  background-position: right bottom, center center
  max-width: 264px
  min-width: 260px
  max-height: 450px
  height: 450px
  display: flex
  margin-right: 100px
  @extend .image

  .iconBrussels
    align-self: flex-end
    width: 60px
    height: 60px
    padding: 0 0 75px 20px

  .iconShop
    align-self: flex-end
    width: 60px
    height: 60px
    padding: 0 0 75px 0
