.section2-image
  background-image: url("../img/anna_bruce.svg")
  background-repeat: no-repeat
  background-size: 60%
  background-position: center center
  height: auto
  flex-wrap: wrap
  flex-direction: row



  //@media (max-width: 700px)
  //  background-position: 8% 83%
  //
  //@media (max-width: 520px)
  //  background-position: 8% 62.5%


  @extend .image

#section2
  flex-wrap: wrap


