.section3-image
  display: flex
  flex-direction: row
  align-items: flex-end
  background-image: url("../img/anna.svg"), url("../img/phone.svg")
  background-repeat: no-repeat
  background-size: 17%, 65%,
  background-position: 65% bottom, 8% bottom
  padding-left: 2.5%
  padding-bottom: 20%
  box-sizing: border-box
  @extend .image

  div
    display: block
    width: 10%
    height: 20%
    background-color: $pink
    flex-basis: 17%

  .parkingBrusselsApp
    background-image: url("../img/parkingBrussels.svg")
    background-repeat: no-repeat
    background-size: 45%
    background-position: 50% 50%

  .storeApp
    background-image: url("../img/shop.svg")
    background-repeat: no-repeat
    background-size: 45%
    background-position: 50% 50%
