#parkingFrame
  width: 400px
  border: .2em solid $highlight
  background-color: #FFF
  overflow: hidden
  height: 600px
  flex-shrink: 0

  @media(max-width: 850px)
    flex-basis: 100%
    margin: 0 auto

.half-size
  display: block
  width: 70%

  @media (max-width: 450px)
    width: 100%

.paragraph-padding-top
  padding-top: 20px

.big-text
  font-size: 1.4em

.button-group
  margin: 10px 0 40px
  clear: both
  width: 100%
  height: 50px
  display: block

  @media (max-width: 320px)
    margin: 20px 0 40px

  .button
    display: block
    height: 40px
    box-sizing: border-box
    background: $highlight
    padding: 10px 10px
    color: $secondary-text
    min-width: 270px
    text-align: center
    text-decoration: none
    border-radius: 1px
    font-size: 1em
    font-family: "Oswald Regular", sans-serif
    line-height: 1em
    float: left
    clear: both
    margin: 5px 0
    text-transform: uppercase

    @media(max-width: 450px)
      width: 100%

    &.sideBySide
      float: left
      clear: none
      max-width: 300px

      &:first-of-type
        margin-right: 2em

    .smallFont
      font-size: 0.6em
      color: $secondary-text
.box
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: flex-start
  box-sizing: border-box

  @media(max-width: 850px)
    flex-wrap: wrap

  &.box-background-annajohn
    background: none

    @media (max-width: 850px)
      background-image: url("../img/anna_bruce_solved.svg")
      background-repeat: no-repeat
      background-size: 35%
      background-position: right 90px
      overflow: hidden

    @media (max-width: 450px)
      background: none

  &.box-medium
    width: 90%

  &.box-cetered
    margin: 0 auto

  &.box-column
    flex-direction: column
    flex-wrap: nowrap
    align-items: flex-start

  &.box-shrink
    flex-shrink: 1

  &.box-margin-top
    margin-top: 100px

    @media (max-width: 320px)
      margin-top: 50px

  .box-content
    box-sizing: border-box
    &:first-of-type
      margin-left: 50px

      @media(max-width: 450px)
        margin-left: 0
        text-align: center

  .text-margin-bottom
    margin-bottom: 20px

  .paragraphs
    width: 100%
    p
      margin-bottom: 30px
      font-size: 1.2em

      a
        color: $highlight

    &.medium-paragraph
      display: block
      width: 75%

    .medium-paragraph
      display: block
      width: 75%

#section8
  height: auto !important
  background-image: url("../img/anna_bruce_solved.svg")
  background-repeat: no-repeat
  background-size: 30%
  background-position: right 350px
  overflow: hidden
  height: auto !important

  @media (max-width: 1100px)
    background-size: 20%
    background-position: right 400px

  @media (max-width: 850px)
    background: none
