.ab-image
  background-image: url("../img/anna.svg"), url("../img/bruce.svg")
  background-repeat: no-repeat
  background-size: 15%, 25%
  background-position: 8% bottom, 16% bottom
  display: block
  height: 80vh
  width: 100%
  text-indent: -100%
  overflow: hidden
