.section5-image
  flex-direction: row
  flex-wrap: wrap
  @extend .image


.perfectappworld
  height: 600px
  width: 100%
  //background-color: mediumvioletred

  @media (max-width: 1200px)
    height: 600px

  @media (max-width: 700px)
    height: 300px

  @media (min-width: 449px)
    padding-bottom: 40px

  @media (max-width: 550px)
    height: 250px
    width: 80%
    margin-left: 10%

@media (max-width: 810px)
  #section5 *
    flex-basis: 100%
