.section3-image
  margin-left: 10%
  background-image: url("../img/anna_reg.svg"), url("../img/phone.svg")
  background-size: 30%, 90%
  background-repeat: no-repeat
  background-position: right bottom, center center
  max-width: 264px
  min-width: 260px
  max-height: 450px
  height: 450px !important
  display: flex
  @extend .image

  .icon
    align-self: flex-end
    width: 60px
    height: 60px

  .iconBrussels
    padding: 0 0 75px 0
    @extend .icon

  .iconShop
    padding: 0 0 75px 20px
    @extend .icon

  .iconGhent
    padding: 0 0 75px 0
    @extend .icon
