---
---
@import colors
@import fonts
@import common
@import highlight
@import header

*
  box-sizing: border-box

main
  max-width: 60em
  margin: 0 auto
  padding: 1em
  line-height: 2

.highlighter-rouge
  margin: 1em 0
  width: 100%
  line-height: 1.2

ul
  list-style-type: initial
  margin: 2em

code
  background-color: #ccc
  padding: .2em
  border-radius: .1em

