---
---
@import reset
@import colors
@import fonts
@import susy

/* ========================
/* GENERAL
/* ========================

\:root
  font-size: 20px

  @media(min-width: 800px)
    font-size: 16px

section
  box-sizing: border-box
  position: relative
  height: 100vh
  width: 100%
  clear: both
  padding: 0 5%
  z-index: 100
  font-family: "Open Sans Regular", sans-serif

/* ========================
/* TEXT
/* ========================

.text
  display: block
  font-size: 2rem
  background: $pink

.text-width-30
  width: 30%

.text-width-40
  width: 40%

.text-width-50
  width: 50%

.text-left
  @extend .text
  position: absolute
  left: 10%
  top: 40vh

.text-centered
  @extend .text
  margin: 0 auto
  text-align: center

.text-vertical-centered
  padding: 30vh 0 0
  text-align: center

.text-right
  @extend .text
  position: absolute
  right: 10%
  top: 40vh



/* ========================
/* HEADER
/* ========================
@import header

/* ========================
/* INTRO
/* ========================
@import section1

@import section9
