---
---
@import reset
@import colors
@import fonts
@import susy

/* ======================== */
/* GENERAL
/* ======================== */

\:root
  font-size: 20px

  @media(min-width: 800px)
    font-size: 16px

section
  box-sizing: border-box
  position: relative
  height: 100vh
  width: 100%
  clear: both
  padding: 0 5%
  z-index: 100
  overflow: hidden

*
  font-family: "Open Sans Regular", sans-serif
  color: $primary-text

strong
  font-family: "Open Sans Bold", sans-serif
  font-weight: 200
  color: $primary-text


/* ======================== */
/* ANIMATIONS
/* ======================== */
.fly-in-before
  opacity: 0

.fly-in-left
  right: 15%
  opacity: 1
  transition: all 0.5s ease-in

.fly-in-right
  left: 8%
  opacity: 1
  transition: all 0.5s ease-in

.fade-in-before
  opacity: 0

.fade-in
  opacity: 1
  transition: all 0.5s ease-in

/* ======================== */
/* FLEXBOX
/* ======================== */
.flex-it
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: flex-start

  .image
    flex-basis: 40%
    height: 80vh
    width: 100%
    text-indent: -100%
    overflow: hidden

  .text
    flex-basis: 60%
    display: block
    font-size: 2em


/* ======================== */
/* TEXT
/* ======================== */

.text-width-30
  width: 30%

.text-width-40
  width: 40%

.text-width-50
  width: 50%

.text-centered
  display: block
  font-size: 2em
  margin: 0 auto
  text-align: center

/* ======================== */
/* HEADER
/* ======================== */
@import header

/* ======================== */
/* SECTIONS
/* ======================== */
@import section1
@import section2
@import section3
@import section9
