---
layout: story
index: false
---
<header>
  <nav>
    <ul>
      <li><a href="{{site.baseurl}}">Home</a></li>
      <li><a href="{{site.baseurl}}#footer">About us</a></li>
      <li><a class="active" href="{{site.baseurl}}tools">Tools</a></li>
      <li><a href="http://vocab.datex.org/terms#">Vocabulary</a></li>
      <li><a href="{{site.baseurl}}#section6">For developers</a></li>
    </ul>
  </nav>
</header>
<style>
main {
  max-width: 60em;
  padding: 1em;
  margin: 0 auto;
}

main img {
  width: 100%;
  max-height: 40vh;
  object-fit: cover;
}

main ul, main li {
  margin: .5em 0 .5em 1em;
  list-style: none;
}

li li {
  list-style: initial;
}

main p {
  margin: 1em 0;
}
</style>
<main>
  <img src="{{site.baseurl}}src/img/tools.svg" alt="illustration on linked data tools">
  {% capture tools %}{% include tools.md %}{% endcapture %}
  {{ tools | markdownify }}
</main>
{% include footer.html %}
