---
---
<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <title>Linked Datex</title>
  <meta name="twitter:title" content="Linked Datex">
  <meta property="og:title" content="Linked Datex">
  <meta name="description" content="vocab.datex.org gives an intro in using linked data in the context of mobility data. By combining the existing DATEX2 vocabulary with linked data, this can be streamlined">
  <meta name="twitter:description" content="vocab.datex.org gives an intro in using linked data in the context of mobility data. By combining the existing DATEX2 vocabulary with linked data, this can be streamlined">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="vocab.datex.org">
  <meta property="og:url" content="http://vocab.datex.org">
  <meta name="twitter:card" content="summary">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
  <link rel="stylesheet" href="{{site.baseurl}}{{layout.style | default: src/css/common.css }}">
  <!-- icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}src/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{site.baseurl}}src/img/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{site.baseurl}}src/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{site.baseurl}}src/img/favicon/manifest.json">
  <link rel="mask-icon" href="{{site.baseurl}}src/img/favicon/safari-pinned-tab.svg" color="#26c6da">
  <link rel="shortcut icon" href="{{site.baseurl}}src/img/favicon/favicon.ico">
  <meta property="og:image" content="{{site.baseurl}}src/img/favicon/android-chrome-512x512.png">
  <meta property="og:image:width" content="512">
  <meta property="og:image:height" content="512">
  <meta property="twitter:image" content="{{site.baseurl}}src/img/favicon/android-chrome-512x512.png">
  <meta property="twitter:image:width" content="512">
  <meta property="twitter:image:height" content="512">
  <meta name="msapplication-config" content="{{site.baseurl}}src/img/favicon/browserconfig.xml">
  <meta name="theme-color" content="#242422">
</head>

<body>{{content}}</body>

</html>
