---
---
<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>Linked Datex</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:type" content="website">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <link rel="stylesheet" href="{{site.baseurl}}{{layout.style | default: src/css/common.css }}">
    <link rel="shortcut icon" href="{{site.baseurl}}favicon.ico" type="image/x-icon">
  </head>
  <body>{{content}}</body>
</html>
