---
layout: example
---

<section class="heading">
  <p class="notice">This page is used as a test and demonstration site exploring how DATEX 2 could be used as a Linked Open Data vocabulary. It is used by a Belgium research program, exploring the use of the DATEX2 standard beyond the formal scope of the standard. For the official website of the DATEX2 community, please see <a href="http://www.datex2.eu">datex2.eu</a>.</p>
  <p>The preferred prefix of this vocabulary is <code>http://vocab.datex.org/terms#</code>. You can contribute to this ontology on <a href="https://github.com/oSoc16/mobylink/blob/gh-pages/_data/vocabulary.json">GitHub</a>.</p>
<h2>Metadata</h2>
{% for term in site.data.vocabulary['@graph'] %}
  <article id="{{term["@id"] | split: ':' | last}}" class="table-container">
    <table>
      {% for inner in term %}
      <tr>
        <th>
          {% if inner[0] contains ':' %}
          {% for abbr in {{site.data.vocabulary['@context']}} %}
            {% assign curr_prefix = inner[0] | split: ':' | first %}
            {% assign curr_value = inner[0] | split: ':' | last %}
            {% if curr_prefix contains abbr[0] %}
              <a href="{{abbr[1]}}{{curr_value}}" title="{{curr_prefix}}">
              {% break %}
            {% endif %}
          {% endfor %}
          {% endif %}
          {{inner[0]}}
          {% if inner[0] contains ':' %}
            </a>
          {% endif %}
        </th>
        <td>
        {% if inner[1]['@language'].size > 0 or inner[1]['@type'].size > 0 %}
          {{inner[1]['@value']}}
        {% else %}
          {% if inner[1] contains ':' %}
          {% assign curr_prefix = inner[1] | split: ':' | first %}
          {% assign curr_value = inner[1] | split: ':' | last %}
          {% if curr_prefix contains 'http' %}
            <a href="{{inner[1]}}">
          {% else %}
            {% for abbr in {{site.data.vocabulary['@context']}} %}
              {% if curr_prefix contains abbr[0] %}
                <a href="{{abbr[1]}}{{curr_value}}" title="{{curr_prefix}}">
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% endif %}
          {{inner[1] | join: ' '}}
          {% if inner[1] contains ':' %}
            </a>
          {% endif %}
        {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </article>
  {% if forloop.index == 2 %}
    </section>
    <h2>Terms</h2>
    <section>
  {% endif %}
{% endfor %}
</section>
<section id="context" class="table-container">
  <h2>Context</h2>
  <table>
  {% for prefix in site.data.vocabulary['@context'] %}
  <tr>
    <th>{{prefix[0]}}</th>
    <td><a href="{{prefix[1]}}">{{prefix[1]}}</a></td>
  </tr>
  {% endfor %}
  </table>
</section>
<style>
  .heading {
    margin: 3em 0;
    border-bottom: 2px solid black;
  }
  article {
    border-bottom: 1px solid black;
    max-width: 100%;
    overflow: auto;
  }
  article:target {
    border: 2px solid blue;
  }
  table {
    width: 100%;
  }
  table th {
    width: 10em;
  }
  h2 {
    margin: 1em 0;
  }
</style>
