doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Moby Link - Parking
    meta(name="description", content="Parking data in Ghent")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1")
    link(rel="stylesheet", href="../css/common.css")
    link(rel='shortcut icon', href='../favicon.ico', type='image/x-icon')
body
  
